<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>TXT_KEY_MAP_OPTION_MAP_SIZE</string>
	<key>Hint</key>
	<string>TXT_KEY_MAP_OPTION_MAP_SIZE_HINT</string>
	<key>Steps</key>
	<array>
		<dict>
			<key>Name</key>
			<string>TXT_KEY_MAP_SIZE_DUEL_TITLE</string>
			<key>Description</key>
			<string>TXT_KEY_MAP_SIZE_DUEL_DESCRIPTION</string>
			<key>Key</key>
			<string>MAP_SIZE_DUEL</string>
			<key>Image</key>
			<string>Duel</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>TXT_KEY_MAP_SIZE_TINY_TITLE</string>
			<key>Description</key>
			<string>TXT_KEY_MAP_SIZE_TINY_DESCRIPTION</string>
			<key>Key</key>
			<string>MAP_SIZE_TINY</string>
			<key>Image</key>
			<string>Tiny</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>TXT_KEY_MAP_SIZE_SMALL_TITLE</string>
			<key>Description</key>
			<string>TXT_KEY_MAP_SIZE_SMALL_DESCRIPTION</string>
			<key>Key</key>
			<string>MAP_SIZE_SMALL</string>
			<key>Image</key>
			<string>Small</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>TXT_KEY_MAP_SIZE_STANDARD_TITLE</string>
			<key>Description</key>
			<string>TXT_KEY_MAP_SIZE_STANDARD_DESCRIPTION</string>
			<key>Key</key>
			<string>MAP_SIZE_STANDARD</string>
			<key>Image</key>
			<string>Standard</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>TXT_KEY_MAP_SIZE_LARGE_TITLE</string>
			<key>Description</key>
			<string>TXT_KEY_MAP_SIZE_LARGE_DESCRIPTION</string>
			<key>Key</key>
			<string>MAP_SIZE_LARGE</string>
			<key>Image</key>
			<string>Large</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>TXT_KEY_MAP_SIZE_HUGE_TITLE</string>
			<key>Description</key>
			<string>TXT_KEY_MAP_SIZE_HUGE_DESCRIPTION</string>
			<key>Key</key>
			<string>MAP_SIZE_HUGE</string>
			<key>Image</key>
			<string>Huge</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>TXT_KEY_MAP_SIZE_RANDOM_TITLE</string>
			<key>Description</key>
			<string>TXT_KEY_MAP_SIZE_RANDOM_DESCRIPTION</string>
			<key>Key</key>
			<string>MAP_SIZE_RANDOM</string>
			<key>Image</key>
			<string>Random</string>
		</dict>
	</array>
</dict>
</plist>
