<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>TXT_KEY_MAP_OPTION_HANDICAP</string>
	<key>Hint</key>
	<string>TXT_KEY_MAP_OPTION_HANDICAP_HINT</string>
	<key>Atlas</key>
	<string></string>
	<key>Steps</key>
	<array>
		<dict>
			<key>Name</key>
			<string>TXT_KEY_HANDICAP_SETTLER</string>
			<key>Description</key>
			<string>TXT_KEY_HANDICAP_SETTLER_HINT</string>
			<key>Key</key>
			<string>HANDICAP_SETTLER</string>
			<key>Image</key>
			<string>Settler</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>TXT_KEY_HANDICAP_CHIEFTAIN</string>
			<key>Description</key>
			<string>TXT_KEY_HANDICAP_CHIEFTAIN_HINT</string>
			<key>Key</key>
			<string>HANDICAP_CHIEFTAIN</string>
			<key>Image</key>
			<string>Chieftain</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>TXT_KEY_HANDICAP_WARLORD</string>
			<key>Description</key>
			<string>TXT_KEY_HANDICAP_WARLORD_HINT</string>
			<key>Key</key>
			<string>HANDICAP_WARLORD</string>
			<key>Image</key>
			<string>Warlord</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>TXT_KEY_HANDICAP_PRINCE</string>
			<key>Description</key>
			<string>TXT_KEY_HANDICAP_PRINCE_HINT</string>
			<key>Key</key>
			<string>HANDICAP_PRINCE</string>
			<key>Image</key>
			<string>Prince</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>TXT_KEY_HANDICAP_KING</string>
			<key>Description</key>
			<string>TXT_KEY_HANDICAP_KING_HINT</string>
			<key>Key</key>
			<string>HANDICAP_KING</string>
			<key>Image</key>
			<string>King</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>TXT_KEY_HANDICAP_EMPEROR</string>
			<key>Description</key>
			<string>TXT_KEY_HANDICAP_EMPEROR_HINT</string>
			<key>Key</key>
			<string>HANDICAP_EMPEROR</string>
			<key>Image</key>
			<string>Emperor</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>TXT_KEY_HANDICAP_IMMORTAL</string>
			<key>Description</key>
			<string>TXT_KEY_HANDICAP_IMMORTAL_HINT</string>
			<key>Key</key>
			<string>HANDICAP_IMMORTAL</string>
			<key>Image</key>
			<string>Immortal</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>TXT_KEY_HANDICAP_DEITY</string>
			<key>Description</key>
			<string>TXT_KEY_HANDICAP_DEITY_HINT</string>
			<key>Key</key>
			<string>HANDICAP_DEITY</string>
			<key>Image</key>
			<string>Deity</string>
		</dict>
	</array>
</dict>
</plist>
